nav {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background-color: var(--backgroundColor);
	border-top: 1px solid var(--detailsColor);
	border-bottom: 1px solid var(--detailsColor);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
	height: 50px;
}

nav > a {
	margin-left: 20px;
	padding: 10px;
	text-decoration: none;
	color: #202020;
	transition: all 0.3s linear;
}

nav > a:hover {
	color: black;
}

main {
	display: flex;
	justify-content: center;
}

.form {
	width: 40vw;
	background-color: var(--backgroundColor);
	margin: 30px 0px;
	border: 1px solid var(--detailsColor);
	border-radius: 10px;
	padding: 16px 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.form__input {
	position: relative;
	width: 90%;
}

.form__input > input,
.form__input > textarea {
	width: 100%;
	margin: 2px 0px 24px;
	border: 2px solid #303030;
	border-radius: 5px;
	padding: 8px 28px 8px 16px;
	font-size: 16px;
	outline-style: none;
	transition: all 0.3s linear;
	box-sizing: border-box;
	resize: none;
}

.form__input > input:hover,
.form__input > textarea:hover {
	background-color: #e2e2e2;
}

.form__input > input:focus,
.form__input > textarea:focus {
	border-color: blue;
}

.form__input > i {
	display: none;
	position: absolute;
	top: 33px;
	right: 10px;
}

.success > input,
.success > textarea {
	border-color: green;
}

.success > .fa-check-circle {
	display: block;
	color: green;
}

.error > input,
.error > textarea {
	border-color: red;
}

.error > .fa-times-circle {
	display: block;
	color: red;
}

.chips-container {
	border: none;
	box-shadow: none;
	margin-bottom: 20px;
}

.chips-container__chips-list {
	width: 100%;
}

.errorsList {
	width: 90%;
	list-style-type: none;
	margin: 16px 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: red;
}

.errorsList > li {
	margin: 5px 0px;
	padding: 8px 10px;
	display: block;
	background-color: red;
	border-radius: 5px;
	color: #f9f9f9;
	box-sizing: border-box;
}

.form__button {
	margin: 4px 0px 8px;
	padding: 8px 20px;
	background-color: #cdcdcd;
	border: 1px solid #ffffff;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s linear;
	font-size: 16px;
}

.form__button:hover {
	border: 1px solid var(--detailsColor);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
