@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
	--backgroundColor: #f9f9f9;
	--detailsColor: #909090;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: #f5f5f5;
}

header {
	display: flex;
	justify-content: center;
}

.search-form {
	margin: 20px 0px;
	width: 75vw;
}

.search-form__input {
	display: flex;
	align-items: center;
	background-color: #ffffff;
	min-height: 52px;
	border: 1px solid var(--detailsColor);
	border-radius: 25px;
	padding-left: 20px;
	box-sizing: border-box;
	transition: box-shadow 0.3s linear, border-color 0.3s linear;
}

.search-form__input:hover {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
	border-color: black;
}

.search-form__input:hover > .search-form__button {
	color: black;
}

.search-form__input > input {
	flex: 1;
	padding: 10px 20px;
	font-size: 1rem;
	border: none;
	background-color: transparent;
}

.search-form__button {
	cursor: pointer;
	background-color: transparent;
	color: var(--detailsColor);
	border: none;
	border-radius: 0px 25px 25px 0px;
	padding: 15px 30px;
}

.search-form__button > i {
	background-color: transparent;
	transition: all 0.3s linear;
}

.form__suggestions-list {
	display: none;
	list-style-type: none;
	margin-top: -1px;
	background-color: #ffffff;
	border: 1px solid var(--detailsColor);
	border-radius: 0px 0px 25px 25px;
	padding: 10px 0px 25px;
	position: absolute;
	z-index: 100;
	width: 75vw;
	box-sizing: border-box;
	transition: all 0.3s linear;
}

.form__suggestions-list:hover {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
	border-color: black;
}

.form__suggestions-list > li {
	font-size: 1rem;
	background-color: transparent;
	color: #404040;
	padding: 10px 0px 10px 40px;
	cursor: pointer;
}

.form__suggestions-list > li:hover {
	background-color: #eeeeee;
}

.chips-container {
	display: flex;
	justify-content: center;
	background-color: var(--backgroundColor);
	border-top: 1px solid var(--detailsColor);
	border-bottom: 1px solid var(--detailsColor);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.chips-container__chips-list {
	width: 70%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	overflow-y: hidden;
}

.chips-container__chips-list__chip {
	font-size: 1rem;
	height: 30px;
	border: 1px solid var(--detailsColor);
	border-radius: 999px;
	padding: 5px 10px;
	cursor: pointer;
	transition: all 0.3s linear;
	box-sizing: border-box;
	min-width: max-content;
}

.chips-container__chips-list__chip:hover {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
	border-color: black;
}

.feature-section {
	margin: 20px 0px;
	display: flex;
	justify-content: space-evenly;
	align-items: stretch;
}

.feature-section__card {
	width: 30%;
	background-color: var(--backgroundColor);
	border: 1px solid var(--detailsColor);
	border-radius: 5px;
	padding: 5px 10px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all 0.3s linear;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
	text-align: center;
}

.feature-section__card:hover {
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
	border-color: black;
}

.feature-section__card > a {
	color: black;
	text-decoration: none;
}

.feature-section__card h2 {
	font-size: 1.2rem;
}

.feature-section__card__author {
	margin: 10px 0px;
	align-self: flex-start;
}

.feature-section__card img {
	width: 100%;
}

.feature-section__card__description {
	margin-top: 15px;
	text-align: justify;
	font-size: 1rem;
}

.regular-section {
	margin: 20px 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.regular-section__card {
	width: 23%;
	background-color: var(--backgroundColor);
	margin: 10px 0px;
	border: 1px solid var(--detailsColor);
	border-radius: 5px;
	padding: 5px 10px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all 0.3s linear;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.regular-section__card:hover {
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
	border-color: black;
}

.regular-section__card > a {
	color: black;
	text-decoration: none;
}

.regular-section__card img {
	width: 100%;
}

.appear-card {
	animation: appear-card 0.4s ease-in;
}

@keyframes appear-card {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

@media (max-width: 699px) {
	.chips-container__chips-list {
		width: 90%;
	}

	.feature-section {
		margin-top: 0px;
		flex-direction: column;
		align-items: center;
		height: 40%;
	}

	.feature-section__card {
		justify-content: space-between;
		width: 80%;
		margin: 10px 0px;
	}

	.feature-section__card img {
		width: 100%;
	}

	.feature-section__card__description {
		display: none;
	}

	.regular-section__card {
		width: 40%;
	}
}

@media (min-width: 700px) and (max-width: 1000px) {
	.feature-section {
		height: 60vh;
	}

	.feature-section__card {
		margin: 10px 20px;
	}

	.feature-section__card__description {
		text-align: left;
	}
}
